/* Richard Davies, Data Science for Economists */

/* This is my first proper css file */


/* Import a font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* Set the background color for my page: */
body{
    background-color: rgb(170, 193, 196)
 
}



/* Choose the appearance of the tags, h1, h3 and p: */
h1, h2, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Inter', sans-serif;
    text-align: center;
}

p{
    margin-left: 10%;
    margin-right: 10%;
}
/* main style */
.myWeek1{
    margin: auto;
    max-width: 800px;
    background-color: rgb(194, 197, 197);

    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(65, 95, 97);
}


/* Set the apperance of the class, chart */
.chart{
    background-color: rgb(255, 255, 255);
    width:346px;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    border-color: rgb(65, 95, 97);
    display: flex;
    justify-content: center;
    align-content: center;
    

    
}
    /* Formatting for IMF charts */
#Chart3, #Chart4{
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width:580px;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(65, 95, 97);
    
}

/* Formatting for Fire Chart */
#Chart5, #Chart6{
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    width:600px;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
    border-color: rgb(65, 95, 97);
}

.Buttons{
    margin-top: 50px;
    
}

/* button options */
a{
    background-color: rgb(194, 197, 197);

    padding:25px;
    margin-left: 25px;
    margin-right: 25px;
    
    border:4px;
    border-color: rgb(65, 95, 97);
    border-style: solid;
    border-radius: 10px;

    font-family: 'Inter', sans-serif;
    font-weight:700;
    color:black;
    font-size: 0.8cm;

    
    text-decoration: none;

   
}

#link:hover{

    background-color: rgba(184, 186, 186, 0.8);

    border:2px;
    border-color:rgb(65, 95, 97);
    border-style: solid;
    
    margin-block: 5;
}

/* containers to centre objects */
.container1 {
    display: flex;
    justify-content: center;
    align-content: center;

   
}

.container2 {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    max-width: 1000px;
    column-gap: 20px;
    
}

.container3 {
    display: flex;
    justify-content: center;
    align-content: center;
    
    max-width: 1000px;

    background-color: rgb(255, 255, 255);
    width:346px;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    border-color: rgb(65, 95, 97);

}

.container4 {
    width: 50%;
}

